
<ol class="breadcrumb clearfix ng-hide" ng-show="breadcrumb!=null" breadcrumb="">
    <!-- ngRepeat: crumb in breadcrumb -->
    <li ng-class="{active: crumb.link==undefined||crumb.link==null}" ng-repeat="crumb in breadcrumb" class="ng-scope active"><a href="" class="ng-binding">Morris Charts</a></li>
    <li ng-class="{active: crumb.link==undefined||crumb.link==null}" ng-repeat="crumb in breadcrumb" class="ng-scope active"><a href="" class="ng-binding">Morris Charts</a></li>
    <li ng-class="{active: crumb.link==undefined||crumb.link==null}" ng-repeat="crumb in breadcrumb" class="ng-scope active"><a href="" class="ng-binding">Morris Charts</a></li>
</ol>