
@{
    ViewBag.Title = "相關連結";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Blog -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="row">
                            <div class="6u">
                                <section class="box">
                                    <a href="http://www.chimi.gov.tw/tw/default.aspx" class="image image-full">
                                        <img src="~/Content/images/%e6%be%8e%e6%b9%96%e7%b8%a3%e4%b8%83%e7%be%8e%e9%84%89%e5%85%ac%e6%89%80%e5%85%a8%e7%90%83%e8%b3%87%e8%a8%8a%e7%b6%b2.png" alt="" />
                                    </a>
                                    <header>
                                        <h3>澎湖縣七美鄉公所全球資訊網</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <p> 美麗漁鄉，風情萬千，環繞在一片蔚藍海洋中的七美，有著挖不完的寶，有別於台灣的任何一個鄉鎮， 無論七美人塚氣節永存、雙心石滬享譽國際、海洋生態美不勝收、玄武岩氣勢磅礡、巧奪天工的肖像石，素有石頭動物園美稱，和純樸的漁鄉風貌，七美鄉是一個幸福的島嶼。
        鄉親土親，我對這塊土地有願景，強化所會溝通聯繫，取鑑各界興革意見；便捷交通，促進觀光；輔助產業，富裕民生；照護婦孺，安養長者；建構服務責任型的施政團隊，深耕家園；期望打造優質故鄉的認同感，吸引年輕人回鄉創業，使鄉務得以永續經營。
        立勳和公所團隊克盡所能的為鄉梓服務，竭誠歡迎鄉親蒞臨公所奉茶。</p>
                                    <footer class="actions">
                                        <a href="http://www.chimi.gov.tw/tw/default.aspx" class="button fa fa-file-text">立即前往</a>
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            <div class="6u">
                                <section class="box">
                                    <a href="http://www.penghu.gov.tw/ch/" class="image image-full">
                                        <img src="~/Content/images/%e6%be%8e%e6%b9%96%e7%b8%a3%e6%94%bf%e5%ba%9c%e5%85%a5%e5%8f%a3%e7%b6%b2.png" alt="" />
                                    </a>
                                    <header>
                                        <h3>澎湖縣政府入口網</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <p>提供澎湖縣介紹、縣府介紹、訊息中心、縣政館、便民服務和機關網站等資訊；縣長信箱、縣長專欄、資訊公開，為民服務電線專線06-9263311。</p>
                                    <footer class="actions">
                                        <a href="http://www.penghu.gov.tw/ch/" class="button fa fa-file-text">立即前往</a>
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Intro -->
                @*<section id="intro">

                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <span class="pennant"><span class="fa fa-cog"></span></span>
                                    <header>
                                        <h2>Ipsum consequat</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <span class="pennant pennant-alt"><span class="fa fa-flash"></span></span>
                                    <header>
                                        <h2>Magna etiam dolor</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <span class="pennant pennant-alt2"><span class="fa fa-star"></span></span>
                                    <header>
                                        <h2>Tempus adipiscing</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="button big">Get Started</a>
                        <a href="#" class="button alt big">Learn More</a>
                    </div>

                </section>
                *@

            </div>
        </div>
    </div>
</div>


