<!-- Header -->
<section id="header">

    <!-- Logo -->
    <h1><a href='@Url.Action("Index", "Home", new { area = string.Empty }, null)'><img src='@Url.Content("/Content/images/logo_V0.2.png")' alt="" /></a></h1>

    @Html.Partial("_Nav")

</section>
