@{
    ViewBag.Title = "聯絡我們";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Blog -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="row">
                            <div class="6u">
                                <section class="box">
                                    @*<a href="#" class="image image-full">

                                        </a>*@
                                    <header>
                                        <h3>波克夏民宿-所在位置</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>

                                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3667.2926261013013!2d119.425188!3d23.19600399999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346da78f3fffffff%3A0xd6baef55eb5ebe25!2z5r6O5rmW57ij5LiD576O6YSJ5Y2X5riv5p2R6L6m5YWs6JmV!5e0!3m2!1szh-TW!2stw!4v1407435371889" width="600" height="450" frameborder="0" style="border:0"></iframe>*@
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.2927906684677!2d119.42003700000002!3d23.19599800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346da788774610bf%3A0xb018a077d329a683!2z5rOi5YWL5aSP5rCR5a6_!5e0!3m2!1szh-TW!2stw!4v1409831133090" width="600" height="450" frameborder="0" style="border:0"></iframe>
                                    @*<footer class="actions">
                                            <a href="#" class="button fa fa-file-text">Continue Reading</a>
                                            <a href="#" class="button alt fa fa-comment">33 comments</a>
                                        </footer>*@
                                </section>
                            </div>
                            @*<div class="6u">
                                <section class="box">
                                    
                            <header>
                                <h3>波克夏民宿-Facebook 評論</h3>
                               
                            </header>

                            <div class="fb-comments"
                                 data-href="https://www.facebook.com/pages/&#x6ce2;&#x514b;&#x590f;&#x6c11;&#x5bbf;/comments"
                                 data-width="500"
                                 data-numposts="5"
                                 data-colorscheme="light"></div>

                            <footer class="actions">
                                    <a href="#" class="button fa fa-file-text">Continue Reading</a>
                                    <a href="#" class="button alt fa fa-comment">33 comments</a>
                                </footer>
                </section>
            </div>*@
            <div class="6u">
                <section class="box">
                    <header>
                        <h3>聯絡資訊</h3>
                        @*<span class="byline">Posted 45 minutes ago</span>*@
                    </header>

                    <ul>
                        <li>
                            <h4>地址</h4>
                            <p>
                                88341<br>
                                澎湖縣七美鄉南港村11鄰51號<br>
                            </p>
                        </li>
                        <li>
                            <h4>E-mail</h4>
                            <p><a href="mailto:berkshire711@gmail.com">berkshire711@gmail.com</a></p>
                        </li>
                        <li>
                            <h4>電話</h4>
                            <p><a href="tel:0910-667685">0910-667685</a></p>
                            <p><a href="tel:0963-559508">0963-559508</a></p>
                            <p><a href="tel:06-9971297">06-9971297</a></p>
                        </li>
                    </ul>
                </section>
            </div>

        </div>
    </div>
    </section>
</div>
        </div>
@*<div class="row">
        <div class="12u">

            <!-- Intro -->
            <section id="intro">

                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <span class="pennant"><span class="fa fa-cog"></span></span>
                                    <header>
                                        <h2>Ipsum consequat</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <span class="pennant pennant-alt"><span class="fa fa-flash"></span></span>
                                    <header>
                                        <h2>Magna etiam dolor</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <span class="pennant pennant-alt2"><span class="fa fa-star"></span></span>
                                    <header>
                                        <h2>Tempus adipiscing</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="button big">Get Started</a>
                        <a href="#" class="button alt big">Learn More</a>
                    </div>

                </section>


        </div>
    </div>*@
    </div>
</div>


