
@{
    ViewBag.Title = "交通資訊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Blog -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="box">
                                    <header>
                                        <h3>空中交通</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre><b>德安航空公司</b>
網站 http://www.dailyair.com.tw/
台北 (02)2712-3995
高雄 (07)801-4711  
馬公 (06)9221838

航線	　　參考票價		飛行時間
高雄-七美	1754		　　35分
馬公-七美	979	　　　　　　15分
以上票價未含兵險費用，航班淡、旺季有較大差異，每月班表可能調整，馬公機場購票享有離島免稅優惠
</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box">
                                    <header>
                                        <h3>海上交通(馬公－七美)</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre>
1、 <b>南海之星（固定航期）</b>
　　去程：
馬公(09:10開航)→望安(10:30開航)→七美(11:15 到達)
　　回程：
七美(13:30開航)→望安(14:30開航)→馬公(15:20到達)
　　票價：馬公→七美(440元)
　　澎湖縣公共車船管理處（06）927-0334
    http://www.phpto.gov.tw/ch/index.jsp

２、各離島間有定期交通船及不定期民間遊艇可搭乘，洽詢請洽：

　　東北航運：06-9262508
　　海安遊艇：06-9262302
　　金八達遊艇：06-9278369
　　票價：來回約900元

</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box">
                                    <header>
                                        <h3>海上交通(台灣－七美)</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre>

１、<b>南海之星　（高雄－七美）</b>
　　七美→高雄（875元）
　　高雄→七美（919元）
　　參考澎湖縣公共車船管理處，每月預定航期
　　（06）927-0334 　　　
　　http://www.phpto.gov.tw/ch/index.jsp

２、<b>光正六號　（高雄－七美）</b>
　　參考澎湖縣公共車船管理處，每月預定航期
　　（06）927-0334 　　　
　　http://www.phpto.gov.tw/ch/index.jsp

３、<b>百麗輪　（嘉義-七美）</b>
　　布袋→七美(90分鐘)
　　七美→馬公(70分鐘) 
　　來回船票約2,700元
　　馬公臨櫃：TEL:06-9268199 
　　布袋臨櫃：TEL:05-3472366
　　七美訂位：請洽詢民宿主人
</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            @*<div class="3u">
                                <section class="box">
                                    <a href="#" class="image image-full">
                                        
                                    </a>
                                    <header>
                                        <h3>Aptent veroeros et aliquam</h3>
                                        <span class="byline">Posted 45 minutes ago</span>
                                    </header>
                                    <pre>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</pre>
                                    <footer class="actions">
                                        <a href="#" class="button fa fa-file-text">Continue Reading</a>
                                        <a href="#" class="button alt fa fa-comment">33 comments</a>
                                    </footer>
                                </section>
                            </div>*@
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Intro -->
                @*<section id="intro">

                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <span class="pennant"><span class="fa fa-cog"></span></span>
                                    <header>
                                        <h2>Ipsum consequat</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <span class="pennant pennant-alt"><span class="fa fa-flash"></span></span>
                                    <header>
                                        <h2>Magna etiam dolor</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <span class="pennant pennant-alt2"><span class="fa fa-star"></span></span>
                                    <header>
                                        <h2>Tempus adipiscing</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="button big">Get Started</a>
                        <a href="#" class="button alt big">Learn More</a>
                    </div>

                </section>
                *@

            </div>
        </div>
    </div>
</div>


