<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://berkshire711.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>berkshire711.com</MSDeployServiceURL>
    <DeployIisAppPath>berkshire711.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sora1230</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BedAndBreakfastEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=184.168.47.15;Initial Catalog=BedAndBreakfast;Persist Security Info=True;User ID=sora1230;Password=kZa^6e22" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="html5up_dopetrope_mvc.Models.BedAndBreakfastEntities, html5up_dopetrope_mvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=184.168.47.15;Initial Catalog=BedAndBreakfast;Persist Security Info=True;User ID=sora1230;Password=kZa^6e22" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="html5up_dopetrope_mvc.Models.ApplicationDbContext, html5up_dopetrope_mvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BedAndBreakfastEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DbModel.csdl|res://*/Models.DbModel.ssdl|res://*/Models.DbModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.47.15;Initial Catalog=BedAndBreakfast;Persist Security Info=True;User ID=sora1230;Password=kZa^6e22"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=184.168.47.15;Initial Catalog=BedAndBreakfast;Persist Security Info=True;User ID=sora1230;Password=kZa^6e22</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>