
@{
    ViewBag.Title = "關於波克夏";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Blog -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="box">                                   
                                    <header>
                                        <h3>民宿源起</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre>海的聲音，最溫暖的饗宴

七美民宿波克夏，從民宿往前望去，可以看到蔚藍的海景及晴朗的天空，還有往來七美停泊的遊艇。聽聽海浪拍打岸邊的聲音，吸取清爽的海洋空氣，晚上還可以一邊喝著冰涼的啤酒或飲料，一邊望著滿天的星光，享受悠閒的滋味！
</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box">
                                    <header>
                                        <h3>經營理念</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre>幸福，在希臘語是Eudaimonia【優德模里亞】，意思是「過更好的生活」。我們希望前來七美的旅人，抱持著慵慵懶懶的步調，悠閒的心情，重新感受著生活的幸福感。這裡雖說不上世外桃源，但遠離市囂，沒有都市的吵雜，有的是傳統漁村的溫暖人情。如果您喜歡的是馬爾地夫式的海島風情，那麼相信您會喜歡上這裡豔豔夏日、海風徐徐、滿天星斗、無憂無束的幸福風情。來杯香濃卡布奇諾，悠閒的躺在躺椅，享受南洋吹拂而來的海風；金黃色的陽光灑落，寫滿了渡假的歡樂時光。</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box">
                                    <header>
                                        <h3>服務項目</h3>
                                        @*<span class="byline">Posted 45 minutes ago</span>*@
                                    </header>
                                    <pre > 	為響應澎湖縣政府低碳節能政策，不再提供一次性丟棄備品（如牙膏╱牙刷╱浴帽╱梳子╱刮鬍刀╱紙杯等），若造成不便，敬請見諒。
 	
 	房價皆含環島機車及早餐，房內皆有乾濕分離浴廁、亞太白金級獨立筒名床、39吋液晶電視、高速wifi網路(免費)、全新低噪音空調、吹風機、室內拖鞋、國產天然草本沐浴乳╱洗髮精、房內備品若有增加或調整，請以訂房時內容為準。

 	公共設施有自動飲水機、飛利浦全自動咖啡機、冰箱、還有沁涼的冷飲。客廳有溫暖舒適的Ｌ型沙發，閱讀區，如喜愛彈奏吉他的旅人，不彷也來首輕鬆的海洋樂曲。

 	如有其他需求者，還請事先詢問，方便我們為您服務。像是「浮潛」、「烤肉」、「文創品」、「買名產」（如小管、小魚乾、火龍果等等）、「旅遊規劃」、「代訂機票、船票」。我們都會盡量地來協助旅人們。
</pre>
                                    <footer class="actions">
                                        @*<a href="#" class="button fa fa-file-text">Continue Reading</a>*@
                                        @*<a href="#" class="button alt fa fa-comment">33 comments</a>*@
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Intro -->
                @*<section id="intro">

                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <span class="pennant"><span class="fa fa-cog"></span></span>
                                    <header>
                                        <h2>Ipsum consequat</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <span class="pennant pennant-alt"><span class="fa fa-flash"></span></span>
                                    <header>
                                        <h2>Magna etiam dolor</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <span class="pennant pennant-alt2"><span class="fa fa-star"></span></span>
                                    <header>
                                        <h2>Tempus adipiscing</h2>
                                    </header>
                                    <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="button big">Get Started</a>
                        <a href="#" class="button alt big">Learn More</a>
                    </div>

                </section>
                *@

            </div>
        </div>
    </div>
</div>


